NAMESPACE=beta-champions

POSTGRES_DB=beta_champions
POSTGRES_USER=beta
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_IMAGE=json-api:latest
WORKER_IMAGE=json-worker:latest
